.card-list{
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
        display: block;
    }

    > li{
        width: calc((100% - 40px) / 3);
        margin-right: 20px;
        background-color:#FFF;

        @media screen and (max-width: 767px) {
            width: 100%;
            margin: 0 0 30px;
        }

        &:nth-child(3n){
            margin: 0;
        }

        a{
            display: block;
            transition: opacity 0.3s;

            &:hover{
                opacity: .7;
            }
        }

        p{
            padding: 20px 20px;
        }
    }
}
